<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsys.base.mapper.AuthMapper">
    <resultMap id="BaseResultMap" type="com.dsys.base.bean.Auth">
        <id column="S_ID" jdbcType="VARCHAR" property="sId" />
        <result column="AUTH_CODE" jdbcType="VARCHAR" property="authCode" />
        <result column="AUTH_NAME" jdbcType="VARCHAR" property="authName" />
        <result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag" />
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    S_ID, AUTH_CODE, AUTH_NAME, DO_FLAG, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bp_auth_tb
        where S_ID = #{sId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bp_auth_tb
    where S_ID = #{sId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.dsys.base.bean.Auth">
    insert into bp_auth_tb (S_ID, AUTH_CODE, AUTH_NAME,
      DO_FLAG, CREATE_USER, CREATE_TIME,
      UPDATE_USER, UPDATE_TIME)
    values (#{sId,jdbcType=VARCHAR}, #{authCode,jdbcType=VARCHAR}, #{authName,jdbcType=VARCHAR},
      #{doFlag,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.dsys.base.bean.Auth">
        insert into bp_auth_tb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                S_ID,
            </if>
            <if test="authCode != null">
                AUTH_CODE,
            </if>
            <if test="authName != null">
                AUTH_NAME,
            </if>
            <if test="doFlag != null">
                DO_FLAG,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateUser != null">
                UPDATE_USER,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                #{sId,jdbcType=VARCHAR},
            </if>
            <if test="authCode != null">
                #{authCode,jdbcType=VARCHAR},
            </if>
            <if test="authName != null">
                #{authName,jdbcType=VARCHAR},
            </if>
            <if test="doFlag != null">
                #{doFlag,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dsys.base.bean.Auth">
        update bp_auth_tb
        <set>
            <if test="authCode != null">
                AUTH_CODE = #{authCode,jdbcType=VARCHAR},
            </if>
            <if test="authName != null">
                AUTH_NAME = #{authName,jdbcType=VARCHAR},
            </if>
            <if test="doFlag != null">
                DO_FLAG = #{doFlag,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where S_ID = #{sId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dsys.base.bean.Auth">
    update bp_auth_tb
    set AUTH_CODE = #{authCode,jdbcType=VARCHAR},
      AUTH_NAME = #{authName,jdbcType=VARCHAR},
      DO_FLAG = #{doFlag,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where S_ID = #{sId,jdbcType=VARCHAR}
  </update>
</mapper>