<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsys.base.mapper.RoleAuthMapper">
  <resultMap id="BaseResultMap" type="com.dsys.base.bean.RoleAuth">
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="AUTH_CODE" jdbcType="VARCHAR" property="authCode" />
    <result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.dsys.base.bean.RoleAuth">
    insert into bp_roleauth_tb (ROLE_CODE, AUTH_CODE, DO_FLAG, 
      CREATE_USER, CREATE_TIME, UPDATE_USER, 
      UPDATE_TIME)
    values (#{roleCode,jdbcType=VARCHAR}, #{authCode,jdbcType=VARCHAR}, #{doFlag,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dsys.base.bean.RoleAuth">
    insert into bp_roleauth_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleCode != null">
        ROLE_CODE,
      </if>
      <if test="authCode != null">
        AUTH_CODE,
      </if>
      <if test="doFlag != null">
        DO_FLAG,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null">
        #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="doFlag != null">
        #{doFlag,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>