<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsys.base.mapper.SysSetupMapper">
  <resultMap id="BaseResultMap" type="com.dsys.base.bean.SysSetup">
    <id column="S_ID" jdbcType="BIGINT" property="sId" />
    <result column="SYS_NAME" jdbcType="VARCHAR" property="sysName" />
    <result column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
    <result column="SYS_ORDER" jdbcType="INTEGER" property="sysOrder" />
    <result column="EXPRIATION_TIME" jdbcType="VARCHAR" property="expriationTime" />
    <result column="ACTIVE_TIME" jdbcType="VARCHAR" property="activeTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="base_colums">
    SYS_NAME, SYS_CODE, SYS_VALUE,
      SYS_ORDER, EXPRIATION_TIME, ACTIVE_TIME,
      CREATE_USER, CREATE_TIME, UPDATE_USER,
      UPDATE_TIME
  </sql>
  <select id="findSysSetup" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="base_colums"></include>
    from sm_sys_tb
    <where>
      <if test="sysCode != null">
        SYS_CODE = #{sysCode}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.dsys.base.bean.SysSetup">
    insert into sm_sys_tb (SYS_NAME, SYS_CODE, SYS_VALUE, 
      SYS_ORDER, EXPRIATION_TIME, ACTIVE_TIME, 
      CREATE_USER, CREATE_TIME, UPDATE_USER, 
      UPDATE_TIME)
    values (#{sysName,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, #{sysValue,jdbcType=VARCHAR}, 
      #{sysOrder,jdbcType=INTEGER}, #{expriationTime,jdbcType=VARCHAR}, #{activeTime,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dsys.base.bean.SysSetup">
    insert into sm_sys_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysName != null">
        SYS_NAME,
      </if>
      <if test="sysCode != null">
        SYS_CODE,
      </if>
      <if test="sysValue != null">
        SYS_VALUE,
      </if>
      <if test="sysOrder != null">
        SYS_ORDER,
      </if>
      <if test="expriationTime != null">
        EXPRIATION_TIME,
      </if>
      <if test="activeTime != null">
        ACTIVE_TIME,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="sysValue != null">
        #{sysValue,jdbcType=VARCHAR},
      </if>
      <if test="sysOrder != null">
        #{sysOrder,jdbcType=INTEGER},
      </if>
      <if test="expriationTime != null">
        #{expriationTime,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null">
        #{activeTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>