<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsys.goods.mapper.GoodsCategory1Mapper">
  <resultMap id="BaseResultMap" type="com.dsys.api.bean.goods.GoodsCategory1">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="CATEGORY_CODE" jdbcType="VARCHAR" property="categoryCode" />
    <result column="PG_URL" jdbcType="VARCHAR" property="pgUrl" />
    <result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CATEGORY_NAME, CATEGORY_CODE, PG_URL, DO_FLAG
  </sql>
  <sql id="Category_Column">
    CATEGORY_NAME, CATEGORY_CODE, PG_URL, DO_FLAG
  </sql>

  <select id="selectCateList" resultType="com.dsys.api.bean.goods.GoodsCategory">
    select
    <include refid="Category_Column" />
    from sp_goods_Category1_tb
  </select>

</mapper>