<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsys.goods.mapper.SKUSafeguardMapper">
  <resultMap id="BaseResultMap" type="com.dsys.api.bean.goods.SKUSafeguard">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SKU_CODE" jdbcType="VARCHAR" property="skuCode" />
    <result column="SAFEGUARD_CODE" jdbcType="VARCHAR" property="safeguardCode" />
    <result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SKU_CODE, SAFEGUARD_CODE, DO_FLAG, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from sp_sku_safeguard_tb-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
<!--    delete from sp_sku_safeguard_tb-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </delete>-->
<!--  <insert id="insertSelective" parameterType="com.dsys.api.bean.goods.SKUSafeguard">-->
<!--    insert into sp_sku_safeguard_tb-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="id != null">-->
<!--        ID,-->
<!--      </if>-->
<!--      <if test="skuCode != null">-->
<!--        SKU_CODE,-->
<!--      </if>-->
<!--      <if test="safeguardCode != null">-->
<!--        SAFEGUARD_CODE,-->
<!--      </if>-->
<!--      <if test="doFlag != null">-->
<!--        DO_FLAG,-->
<!--      </if>-->
<!--      <if test="createUser != null">-->
<!--        CREATE_USER,-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        CREATE_TIME,-->
<!--      </if>-->
<!--      <if test="updateUser != null">-->
<!--        UPDATE_USER,-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        UPDATE_TIME,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="id != null">-->
<!--        #{id,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="skuCode != null">-->
<!--        #{skuCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="safeguardCode != null">-->
<!--        #{safeguardCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="doFlag != null">-->
<!--        #{doFlag,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createUser != null">-->
<!--        #{createUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateUser != null">-->
<!--        #{updateUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.dsys.api.bean.goods.SKUSafeguard">-->
<!--    update sp_sku_safeguard_tb-->
<!--    <set>-->
<!--      <if test="skuCode != null">-->
<!--        SKU_CODE = #{skuCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="safeguardCode != null">-->
<!--        SAFEGUARD_CODE = #{safeguardCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="doFlag != null">-->
<!--        DO_FLAG = #{doFlag,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createUser != null">-->
<!--        CREATE_USER = #{createUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateUser != null">-->
<!--        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </set>-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.dsys.api.bean.goods.SKUSafeguard">-->
<!--    update sp_sku_safeguard_tb-->
<!--    set SKU_CODE = #{skuCode,jdbcType=VARCHAR},-->
<!--      SAFEGUARD_CODE = #{safeguardCode,jdbcType=VARCHAR},-->
<!--      DO_FLAG = #{doFlag,jdbcType=VARCHAR},-->
<!--      CREATE_USER = #{createUser,jdbcType=VARCHAR},-->
<!--      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},-->
<!--      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},-->
<!--      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </update>-->
</mapper>