<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsys.goods.mapper.SpecValueMapper">
  <resultMap id="BaseResultMap" type="com.dsys.api.bean.goods.SpecValue">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SPEC_CODE" jdbcType="VARCHAR" property="specCode" />
    <result column="SPEC_VALUE" jdbcType="VARCHAR" property="specValue" />
    <result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SPEC_CODE, SPEC_VALUE, DO_FLAG, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from sp_spec_value_tb-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
<!--    delete from sp_spec_value_tb-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </delete>-->
<!--  <insert id="insertSelective" parameterType="com.dsys.api.bean.goods.SpecValue">-->
<!--    insert into sp_spec_value_tb-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="id != null">-->
<!--        ID,-->
<!--      </if>-->
<!--      <if test="specCode != null">-->
<!--        SPEC_CODE,-->
<!--      </if>-->
<!--      <if test="specValue != null">-->
<!--        SPEC_VALUE,-->
<!--      </if>-->
<!--      <if test="doFlag != null">-->
<!--        DO_FLAG,-->
<!--      </if>-->
<!--      <if test="createUser != null">-->
<!--        CREATE_USER,-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        CREATE_TIME,-->
<!--      </if>-->
<!--      <if test="updateUser != null">-->
<!--        UPDATE_USER,-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        UPDATE_TIME,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="id != null">-->
<!--        #{id,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="specCode != null">-->
<!--        #{specCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="specValue != null">-->
<!--        #{specValue,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="doFlag != null">-->
<!--        #{doFlag,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createUser != null">-->
<!--        #{createUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateUser != null">-->
<!--        #{updateUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.dsys.api.bean.goods.SpecValue">-->
<!--    update sp_spec_value_tb-->
<!--    <set>-->
<!--      <if test="specCode != null">-->
<!--        SPEC_CODE = #{specCode,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="specValue != null">-->
<!--        SPEC_VALUE = #{specValue,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="doFlag != null">-->
<!--        DO_FLAG = #{doFlag,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createUser != null">-->
<!--        CREATE_USER = #{createUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="updateUser != null">-->
<!--        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="updateTime != null">-->
<!--        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </set>-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.dsys.api.bean.goods.SpecValue">-->
<!--    update sp_spec_value_tb-->
<!--    set SPEC_CODE = #{specCode,jdbcType=VARCHAR},-->
<!--      SPEC_VALUE = #{specValue,jdbcType=VARCHAR},-->
<!--      DO_FLAG = #{doFlag,jdbcType=VARCHAR},-->
<!--      CREATE_USER = #{createUser,jdbcType=VARCHAR},-->
<!--      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},-->
<!--      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},-->
<!--      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}-->
<!--    where ID = #{id,jdbcType=VARCHAR}-->
<!--  </update>-->
</mapper>