<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>访问出错</title>

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/style-responsive.css" rel="stylesheet">
  
  
</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img src="../img/404.png" alt="">
        <h1>没有找到!!</h1>
        <h3>当前页面出错！</h3>
        <br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            status:[[${status}]]
          </div>
          <div class="col-md-8 col-md-offset-2">
            tempStamp:[[${tempStamp}]]
          </div>
          <div class="col-md-8 col-md-offset-2">
            错误信息:[[${error}]]
          </div>
        </div>
        <h5 class="mt">访问别的页面:</h5>
        <p><a href="../index.html">返回首页</a> | <a href="#">Sitemap</a> | <a href="../contact.html"> Contact</a></p>
      </div>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
