<!DOCTYPE html>
<html>
  <head>
    <title>用户登录信息验证隐藏页面</title>
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
  </head>
  <body>
   <input type="hidden" id="mainUser" name="mainUser" value="">
   <input type="hidden" id="mainToken" name="mainToken" value="">
   <input type="hidden" id="mainModels" name="mainModels" value="">
   <input type="hidden" id="mainUser" name="mainUser" value="">
  </body>
</html>
