<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsys.base.dao.DictInfoDao">
    <resultMap id="BaseResultMap" type="com.dsys.base.bean.DictInfo">
        <id column="S_ID" jdbcType="VARCHAR" property="sId"/>
        <result column="DICT_CODE" jdbcType="VARCHAR" property="dictCode"/>
        <result column="DICT_NAME" jdbcType="VARCHAR" property="dictName"/>
        <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode"/>
        <result column="IDENTIFY" jdbcType="VARCHAR" property="identify"/>
        <result column="NOTE" jdbcType="VARCHAR" property="note"/>
        <result column="VALUE" jdbcType="VARCHAR" property="value"/>
        <result column="ORDER_CODE" jdbcType="INTEGER" property="orderCode"/>
        <result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    S_ID,DICT_CODE,PARENT_CODE, DICT_NAME, IDENTIFY, NOTE, VALUE, ORDER_CODE, DO_FLAG, CREATE_USER, CREATE_TIME,
    UPDATE_USER, UPDATE_TIME
  </sql>
    <select id="findAllDictInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bp_dictinfo_tb
    </select>
    <select id="dictInfo2Tree" parameterType="java.lang.String" resultType="com.dsys.base.bean.TreeBean">
    select DICT_CODE AS id,PARENT_CODE AS pid, DICT_NAME AS name, VALUE, ORDER_CODE   AS order
    from bp_dictinfo_tb
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bp_dictinfo_tb
    where DICT_CODE = #{dictCode,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.dsys.base.bean.DictInfo">
    insert into bp_dictinfo_tb (S_ID,DICT_CODE, DICT_NAME, IDENTIFY,
      NOTE, VALUE, ORDER_CODE, 
      DO_FLAG, CREATE_USER, CREATE_TIME, 
      UPDATE_USER, UPDATE_TIME)
    values (#{sId,jdbcType=VARCHAR},#{dictCode,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, #{identify,jdbcType=VARCHAR},
      #{note,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{orderCode,jdbcType=INTEGER}, 
      #{doFlag,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="addModel" parameterType="com.dsys.base.bean.DictInfo">
        insert into bp_dictinfo_tb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                S_ID,
            </if>
            <if test="dictCode != null">
                DICT_CODE,
            </if>
            <if test="dictName != null">
                DICT_NAME,
            </if>
            <if test="parentCode != null">
                PARENT_CODE,
            </if>
            <if test="identify != null">
                IDENTIFY,
            </if>
            <if test="note != null">
                NOTE,
            </if>
            <if test="value != null">
                VALUE,
            </if>
            <if test="orderCode != null">
                ORDER_CODE,
            </if>
            <if test="doFlag != null">
                DO_FLAG,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateUser != null">
                UPDATE_USER,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                #{sId,jdbcType=VARCHAR},
            </if>
            <if test="dictCode != null">
                #{dictCode,jdbcType=VARCHAR},
            </if>
            <if test="dictName != null">
                #{dictName,jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null">
                #{parentCode,jdbcType=VARCHAR},
            </if>
            <if test="identify != null">
                #{identify,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="orderCode != null">
                #{orderCode,jdbcType=INTEGER},
            </if>
            <if test="doFlag != null">
                #{doFlag,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dsys.base.bean.DictInfo">
        update bp_dictinfo_tb
        <set>
            <if test="dictName != null">
                DICT_NAME = #{dictName,jdbcType=VARCHAR},
            </if>
            <if test="identify != null">
                IDENTIFY = #{identify,jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null">
                IDENTIFY = #{parentCode,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                NOTE = #{note,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                VALUE = #{value,jdbcType=VARCHAR},
            </if>
            <if test="orderCode != null">
                ORDER_CODE = #{orderCode,jdbcType=INTEGER},
            </if>
            <if test="doFlag != null">
                DO_FLAG = #{doFlag,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where DICT_CODE = #{dictCode,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dsys.base.bean.DictInfo">
    update bp_dictinfo_tb
    set DICT_NAME = #{dictName,jdbcType=VARCHAR},
      IDENTIFY = #{identify,jdbcType=VARCHAR},
      PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR},
      ORDER_CODE = #{orderCode,jdbcType=INTEGER},
      DO_FLAG = #{doFlag,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where DICT_CODE = #{dictCode,jdbcType=VARCHAR}
  </update>
</mapper>