<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsys.base.dao.ModelDao">
	<resultMap id="BaseResultMap" type="com.dsys.base.bean.Model">
		<id column="S_ID" jdbcType="VARCHAR" property="sId" />
		<result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
		<result column="MODEL_NAME" jdbcType="VARCHAR" property="modelName" />
		<result column="CLIENT_TYPE" jdbcType="VARCHAR" property="clientType" />
		<result column="MODEL_URL" jdbcType="VARCHAR" property="modelUrl" />
		<result column="MODEL_NOTE" jdbcType="VARCHAR" property="modelNote" />
		<result column="MODEL_ORDER" jdbcType="INTEGER" property="modelOrder" />
		<result column="LEVEL" jdbcType="INTEGER" property="level" />
		<result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag" />
		<result column="DO_ENABLE" jdbcType="VARCHAR" property="doEnable" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		S_ID, PARENT_ID, MODEL_NAME, CLIENT_TYPE, MODEL_URL,
		MODEL_NOTE,
		MODEL_ORDER, LEVEL,
		DO_FLAG, DO_ENABLE, CREATE_USER,
		CREATE_TIME, UPDATE_USER, UPDATE_TIME
	</sql>
	<select id="findAllModel" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from bp_model_tb
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bp_model_tb
    where S_ID = #{sId,jdbcType=VARCHAR}
  </delete>

	<insert id="addModel" useGeneratedKeys="true" keyProperty="sId"
		parameterType="com.dsys.base.bean.Model">
		INSERT INTO BP_MODEL_TB
		<trim prefix="(" suffix=")" suffixOverrides=",">
			S_ID,PARENT_ID,MODEL_NAME,CLIENT_TYPE,MODEL_URL,MODEL_NOTE,MODEL_ORDER,LEVEL,DO_FLAG,DO_ENABLE,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			#{sId},#{parentId},#{modelName},#{clientType},#{modelUrl},#{modelNote},#{modelOrder},#{level},#{doFlag},#{doEnable},#{createUser},#{createTime},#{updateUser},#{updateTime}
		</trim>
	</insert>
	<insert id="insertSelective" parameterType="com.dsys.base.bean.Model">
		insert into bp_model_tb
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sId != null">
				S_ID,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
			<if test="modelName != null">
				MODEL_NAME,
			</if>
			<if test="clientType != null">
				CLIENT_TYPE,
			</if>
			<if test="modelUrl != null">
				MODEL_URL,
			</if>
			<if test="modelNote != null">
				MODEL_NOTE,
			</if>
			<if test="modelOrder != null">
				MODEL_ORDER,
			</if>
			<if test="level != null">
				LEVEL,
			</if>
			<if test="doFlag != null">
				DO_FLAG,
			</if>
			<if test="doEnable != null">
				DO_ENABLE,
			</if>
			<if test="createUser != null">
				CREATE_USER,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="updateUser != null">
				UPDATE_USER,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sId != null">
				#{sId,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="modelName != null">
				#{modelName,jdbcType=VARCHAR},
			</if>
			<if test="clientType != null">
				#{clientType,jdbcType=VARCHAR},
			</if>
			<if test="modelUrl != null">
				#{modelUrl,jdbcType=VARCHAR},
			</if>
			<if test="modelNote != null">
				#{modelNote,jdbcType=VARCHAR},
			</if>
			<if test="modelOrder != null">
				#{modelOrder,jdbcType=INTEGER},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="doFlag != null">
				#{doFlag,jdbcType=VARCHAR},
			</if>
			<if test="doEnable != null">
				#{doEnable,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dsys.base.bean.Model">
		update bp_model_tb
		<set>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="modelName != null">
				MODEL_NAME = #{modelName,jdbcType=VARCHAR},
			</if>
			<if test="clientType != null">
				CLIENT_TYPE = #{clientType,jdbcType=VARCHAR},
			</if>
			<if test="modelUrl != null">
				MODEL_URL = #{modelUrl,jdbcType=VARCHAR},
			</if>
			<if test="modelNote != null">
				MODEL_NOTE = #{modelNote,jdbcType=VARCHAR},
			</if>
			<if test="modelOrder != null">
				MODEL_ORDER = #{modelOrder,jdbcType=INTEGER},
			</if>
			<if test="level != null">
				LEVEL = #{level,jdbcType=INTEGER},
			</if>
			<if test="doFlag != null">
				DO_FLAG = #{doFlag,jdbcType=VARCHAR},
			</if>
			<if test="doEnable != null">
				DO_ENABLE = #{doEnable,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				CREATE_USER = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where S_ID = #{sId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.dsys.base.bean.Model">
    update bp_model_tb
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      MODEL_NAME = #{modelName,jdbcType=VARCHAR},
      CLIENT_TYPE = #{clientType,jdbcType=VARCHAR},
      MODEL_URL = #{modelUrl,jdbcType=VARCHAR},
      MODEL_NOTE = #{modelNote,jdbcType=VARCHAR},
      MODEL_ORDER = #{modelOrder,jdbcType=INTEGER},
      LEVEL = #{level,jdbcType=INTEGER},
      DO_FLAG = #{doFlag,jdbcType=VARCHAR},
      DO_ENABLE = #{doEnable,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where S_ID = #{sId,jdbcType=VARCHAR}
  </update>

</mapper>