<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsys.base.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.dsys.base.bean.Role">
        <id column="S_ID" jdbcType="VARCHAR" property="sId"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="BELONG_SYS" jdbcType="VARCHAR" property="belongSys"/>
        <result column="DO_FLAG" jdbcType="VARCHAR" property="doFlag"/>
        <result column="LEVEL" jdbcType="INTEGER" property="level"/>
        <result column="POINT" jdbcType="INTEGER" property="point"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
		S_ID, ROLE_CODE, ROLE_NAME, BELONG_SYS, DO_FLAG, LEVEL, POINT, CREATE_USER, CREATE_TIME,
		UPDATE_USER, UPDATE_TIME
	  </sql>
    <select id="getRoleById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bp_role_tb
        where S_ID = #{sId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bp_role_tb
    where S_ID = #{sId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.dsys.base.bean.Role">
        insert into bp_role_tb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                S_ID,
            </if>
            <if test="roleCode != null">
                ROLE_CODE,
            </if>
            <if test="roleName != null">
                ROLE_NAME,
            </if>
            <if test="belongSys != null">
                BELONG_SYS,
            </if>
            <if test="doFlag != null">
                DO_FLAG,
            </if>
            <if test="level != null">
                LEVEL,
            </if>
            <if test="point != null">
                POINT,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateUser != null">
                UPDATE_USER,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sId != null">
                #{sId,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="belongSys != null">
                #{belongSys,jdbcType=VARCHAR},
            </if>
            <if test="doFlag != null">
                #{doFlag,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="point != null">
                #{point,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dsys.base.bean.Role">
        update bp_role_tb
        <set>
            <if test="roleCode != null">
                ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                ROLE_NAME = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="belongSys != null">
                BELONG_SYS = #{belongSys,jdbcType=VARCHAR},
            </if>
            <if test="doFlag != null">
                DO_FLAG = #{doFlag,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                LEVEL = #{level,jdbcType=INTEGER},
            </if>
            <if test="point != null">
                POINT = #{point,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where S_ID = #{sId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dsys.base.bean.Role">
    update bp_role_tb
    set ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      BELONG_SYS = #{belongSys,jdbcType=VARCHAR},
      DO_FLAG = #{doFlag,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=INTEGER},
      POINT = #{point,jdbcType=INTEGER},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where S_ID = #{sId,jdbcType=VARCHAR}
  </update>
</mapper>